<div class="col-12">
    <div class="card">
        <div class="card-header">
            <i class="fa fa-align-justify"></i> Liste des Stagiaires
        </div>
        <div class="card-body">
            <table class="table">
                <thead>

                    <!--id:Number;
    nom:String;
    prenom:String;
    email:String;
    password:String;
    adresse:String;
    ville:String;
    dateNaissance:Date;-->
                    <tr>
                        <th>Nom</th>
                        <th>Prenom</th>
                        <th>Email</th>
                        <th>Adresse</th>
                        <th>Ville</th>
                        <th>Date Naissance</th>
                        <th>Departement</th>
                        <th>Designation</th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let e of stagiaires; let i = index">
                        <td>{{ e.nom }}</td>
                        <td>{{ e.prenom }}</td>
                        <td>{{ e.email }}</td>
                        <td>{{ e.adresse }}</td>
                        <td>{{ e.ville }}</td>
                        <td>{{ e.datenaissance }}</td>
                        <td>{{ e.departement.libelle }}</td>
                        <td>{{ e.designation.libelle }} </td>
                        <td><span class="badge badge-success">Active</span></td>
                        <td>
                            <button class="btn btn-sm btn-warning mr-2" (click)="update(e)"><i
                                    class="fa fa-pencil"></i></button>
                            <button class="btn btn-sm btn-danger" (click)="delete(e.id, i)"><i
                                    class="fa fa-trash"></i></button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <ul class="pagination">
                <li class="page-item"><a class="page-link" href="#">Prev</a></li>
                <li class="page-item active">
                    <a class="page-link" href="#">1</a>
                </li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#">4</a></li>
                <li class="page-item"><a class="page-link" href="#">Next</a></li>
            </ul>
        </div>
    </div>
</div>