<div class="col-12">
    <div class="card">
        <div class="card-header">
            <strong>Créer un employé</strong>
        </div>
        <div class="card-body">
        <form #employeeForm="ngForm" (ngSubmit)="save(employeeForm.value)" >
            <div class="form-group">
                <label for="nom">Nom</label>
                <input type="text" name="nom" #nom="ngModel" [(ngModel)]="employee.nom" class="form-control" id="nom" placeholder="Entrer Le nom" required >
            </div>
            <div class="form-group">
                <label for="prenom">Prenom</label>
                <input type="text" name="prenom" #prenom="ngModel" [(ngModel)]="employee.prenom" class="form-control" id="prenom" placeholder="Entrer Le prenom" required>
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" name="email" #email="ngModel" [(ngModel)]="employee.email" class="form-control" id="email" placeholder="Entrer L'email  abc@abc.com"  email required>
                <small class="form-text text-muted" *ngIf="email.touched && !email.valid"> Enter Email Adress </small>
            </div>
            <div class="row">
                <div class="form-group col-sm-8">
                    <label for="password">Password</label>
                    <input type="password"  name="password" #password="ngModel" [(ngModel)]="employee.password" class="form-control" id="password" placeholder="Entrer le mot de passe" required>
                </div>
                <div class="form-group col-sm-4">
                    <label for="adresse">Adresse</label>
                    <input type="text" name="adresse" #adresse="ngModel"  [(ngModel)]="employee.adresse" class="form-control" id="adresse" placeholder="Entrer l'adresse" required>
                </div>
            </div>
            <!--/.row-->
            <div class="form-group">
                <label for="ville">Ville</label>
                <input type="text"  name="ville" #ville="ngModel" [(ngModel)]="employee.ville" class="form-control" id="ville" placeholder="Entrer la ville" required>
            </div>
            <div class="form-group">
                <label for="dateNaissance">Date Naissance</label>
                <input type="date"  name="datenaissance" #datenaissance="ngModel" [(ngModel)]="employee.datenaissance" class="form-control" id="dateNaissance" placeholder="Entrer la date de naissance" required>
            </div>
            <div class="form-group">
                <label for="departement">Departement</label>
                <select name="departement"  name="departement" #departement="ngModel" id="departement" [(ngModel)]="employee.departement" class="form-control" #mySelect
                    (change)='onOptionsSelectedem(mySelect.value)' required>
                    <option value="">Sélectionnez...</option>
                    <option *ngFor="let d of departements;" [ngValue]="d">
                        {{ d.libelle }}
                    </option>
                </select>
            </div>
            <div class="form-group">
                <label for="designation">Designation</label>
                <select name="designation" name="designation" #designation="ngModel"  id="designation" [(ngModel)]="employee.designation" class="form-control" #mySelect
                    (change)='onOptionsSelectedeme(mySelect.value)' required>
                    <option value="">Sélectionnez...</option>
                    <option *ngFor="let e of designations;" [ngValue]="e">
                        {{ e.libelle }}
                    </option>
                </select>
            </div>
            <div class="card-footer">
                <button type="submit" [disabled]="!employeeForm.valid" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i> Save</button>
                <button type="reset" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> Reset</button>
            </div>
        </form>
        </div>
    </div>
</div>
<!--/.col-->