<div class="col-12">
    <div class="card">
        <div class="card-header">
            <strong>Créer un Stagiaire (Stage)</strong>
        </div>
        <div class="card-body">
            <div class="form-group">
                <label for="raison">Date Debut</label>
                <input type="date" [(ngModel)]="equipeItem.dateDebut" class="form-control" id="dateDebut"
                    placeholder="Entrer date de debut stage">
            </div>
            <div class="form-group">
                <label for="etat">Date Fin</label>
                <input type="date" [(ngModel)]="equipeItem.dateFin" class="form-control" id="dateFin" placeholder="Entrer date de fin stage">
            </div>

            <div class="form-group">
                <label for="etat">Upload CV</label>
                <input type="file" [(ngModel)]="equipeItem.emCv" class="form-control" id="cv" placeholder="upload cv">
            </div>

            
            <div class="form-group">
                <label for="etat">Date Recu Cv</label>
                <input type="date" [(ngModel)]="equipeItem.dateRecuCv" class="form-control" id="dateRecuCv" placeholder="date recu cv">
            </div>

            <div class="form-group">
                <label for="etat">note</label>
                <input type="text" [(ngModel)]="equipeItem.note" class="form-control" id="note" placeholder="note">
            </div>

            <!-- <div class="form-group">
                <label for="encadrant">Encadrant</label>
                <input type="text" [(ngModel)]="stage.encadrent" class="form-control" id="encadrant" placeholder="Entrer L'encadrant">
            </div> -->
            <div class="form-group">
                <label for="stagiaire">Stagiaire</label>
                <select name="stagiaire" id="stagiaire" [(ngModel)]="equipeItem.stagiaire" class="form-control" #mySelect
                    (change)='onOptionsSelected(mySelect.value)'>
                    <option value="">Sélectionnez...</option>
                    <option *ngFor="let e of stagiaires;" [ngValue]="e">
                        {{ e.nom }} {{ e.prenom }}
                    </option>
                </select>
            </div>
            <div class="card-footer">
                <button type="submit" (click)="save()" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i>
                    Save</button>
                <button type="reset" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> Reset</button>
            </div>
        </div>
    </div>
</div>
<!--/.col-->