<div class="animated fadeIn">
    <div class="container">
        <div class=" content">
            <div class=" row">
                <div class=" col-md-8">
                    <div class=" card">
                        <div class=" card-header">
                            <h5 class=" title">Edit Profile</h5>
                        </div>
                        <div class="card-body">
                            <form>
                                <div class=" row">
                                    <div class=" col-md-5 pr-md-1">
                                        <div class=" form-group">
                                            <label> Company (disabled) </label>
                                            <input class=" form-control" disabled="" placeholder="Company" type="text"
                                                value="Creative Code Inc." />
                                        </div>
                                    </div>
                                    <div class=" col-md-4 pl-md-1">
                                        <div class=" form-group">
                                            <label for="exampleInputEmail1"> Email address </label>
                                            <input class=" form-control"  [(ngModel)]="user.email" [ngModelOptions]="{standalone: true}" placeholder="mike@email.com" type="email" />
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class=" col-md-6 pr-md-1">
                                        <div class=" form-group">
                                            <label> First Name </label>
                                            <input class=" form-control" placeholder="First Name" type="text"
                                            [(ngModel)]="user.nom" [ngModelOptions]="{standalone: true}" />
                                        </div>
                                    </div>
                                    <div class=" col-md-6 pl-md-1">
                                        <div class=" form-group">
                                            <label> Last Name </label>
                                            <input class=" form-control" placeholder="Last Name" type="text"
                                            [(ngModel)]="user.prenom" [ngModelOptions]="{standalone: true}" />
                                        </div>
                                    </div>
                                </div>
                                <div class=" row">
                                    <div class=" col-md-6 pr-md-1">
                                        <div class="form-group">
                                            <label for="dateFin">Date Naissance</label>
                                            <input type="date" [(ngModel)]="user.datenaissance" [ngModelOptions]="{standalone: true}" class="form-control" id="dateFin"
                                                placeholder="Entrer la date de Naissance">
                                        </div>
                                    </div>
                                    <div class=" col-md-6 pl-md-1">
                                        <div class=" form-group">
                                            <label> CIN </label>
                                            <input class=" form-control" placeholder="C.I.N" type="text" [(ngModel)]="user.cin" [ngModelOptions]="{standalone: true}" />
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class=" form-group">
                                            <label> Address </label>
                                            <input class=" form-control" placeholder="Home Address" type="text"
                                            [(ngModel)]="user.adresse" [ngModelOptions]="{standalone: true}" />
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class=" form-group">
                                            <label> Ville </label>
                                            <input class=" form-control" placeholder="Home City" type="text"
                                            [(ngModel)]="user.ville" [ngModelOptions]="{standalone: true}" />
                                        </div>
                                    </div>
                                </div>
                                <div class=" row">
                                    <div class=" col-md-8">
                                        <div class=" form-group">
                                            <label> About Me </label>
                                            <textarea class=" form-control" cols="80"
                                                placeholder="Here can be your description" rows="4" value="Mike">
  Lamborghini Mercy, Your chick she so thirsty, I'm in that two seat Lambo.
  </textarea>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="card-footer">
                            <button class=" btn btn-fill btn-danger pull-right" type="submit" (click)="updateUser()">Save</button>
                        </div>
                    </div>
                </div>
                <div class=" col-md-4">
                    <div class=" card card-user">
                        <div class=" card-body">
                            <p class=" card-text"></p>
                            <div class=" author">
                                <div class=" block block-one"></div>
                                <div class=" block block-two"></div>
                                <div class=" block block-three"></div>
                                <div class=" block block-four"></div>
                                <a href="javascript:void(0)">
                                    <img alt="..." class="avatar" src="assets/img/avatars/6.jpg" style="height: 90px;width:100px;"/>
                                    <h5 class=" title">{{ user.nom }} {{ user.prenom }}</h5>
                                </a>
                                <p class=" description">Ceo/Co-Founder</p>
                            </div>
                            <div class=" card-description">
                                Do not be scared of the truth because we need to restart the human
                                foundation in truth And I love you like Kanye loves Kanye I love
                                Rick Owens’ bed design but the back is...
                            </div>
                        </div>
                        <div class=" card-footer">
                            <div class=" button-container">
                                <button class=" btn btn-icon btn-round btn-facebook" href="javascript:void(0)">
                                    <i class=" fab fa-facebook"> </i>
                                </button>
                                <button class=" btn btn-icon btn-round btn-twitter" href="javascript:void(0)">
                                    <i class=" fab fa-twitter"> </i>
                                </button>
                                <button class=" btn btn-icon btn-round btn-google" href="javascript:void(0)">
                                    <i class=" fab fa-google-plus"> </i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>