<div class="card">
    <div class="card-header">
        <strong>Créer un Type de Congé</strong>
    </div>
    <div class="card-body">
        <form #typeCongeForm="ngForm" (ngSubmit)="save(typeCongeForm.value)">
            <div class="form-group">
                <label for="libelle">type de conge</label>
                <input type="text" #libelle="ngModel" name="libelle" [(ngModel)]="typeConge.libelle" class="form-control" 
                id="libelle" placeholder="Entrer Le type de conge" required >
            </div>
            <div class="form-group">
                <label for="numberjour">nombre des jours</label>
                <input type="number" #numberJour="ngModel" name="numberjour" [(ngModel)]="typeConge.numberJour" class="form-control" id="numberjour" placeholder="Entrer Les jours de conge" required>
            </div>
            <div class="card-footer">
                <button type="submit" [disabled]="!typeCongeForm.valid" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o" ></i> Save</button>
                <button type="reset" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> Reset</button>
            </div>
        </form>
    </div>
</div>