<div class="col-12">
    <div class="card">
        <div class="card-header">
            <strong>Créer un Type de Congé</strong>
        </div>
        <div class="card-body">
            <div class="form-group">
                <label for="nom">type de conge</label>
                <input type="text" [(ngModel)]="typeConge.libelle" class="form-control" id="libelle" placeholder="Entrer Le type de conge">
            </div>
            <div class="form-group">
                <label for="prenom">nombre des jours</label>
                <input type="number" [(ngModel)]="typeConge.numberJour" class="form-control" id="numberjour" placeholder="Entrer Les jours de conge">
            </div>
            <div class="card-footer">
                <button type="submit" (click)="save()" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i> Save</button>
                <button type="reset" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> Reset</button>
            </div>
        </div>
    </div>
</div>