<h1>Attestation de Stage</h1>

<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Attestation de Stage</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form>
            <div class="form-group">
                <label for="stagiaire">Stagiaire</label>
                <select name="stagiaire" id="stagiaire" [(ngModel)]="stagiaire" class="form-control" #mySelect
                    (change)='onOptionsSelected(mySelect.value)'>
                    <option value="">Sélectionnez...</option>
                    <option *ngFor="let e of stagiaires;" [ngValue]="e">
                        {{ e.nom }} {{ e.prenom }}
                    </option>
                </select>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="saveHTML()">Exporter HTML</button>
        <button type="button" class="btn btn-outline-dark" (click)="savePDF()">Exporter PDF</button>
    </div>
</ng-template>

<button class="btn btn-lg btn-outline-primary" (click)="open(content)">Ajouter Attestation de Stage</button>

<hr>