<div class="card">
    <div class="card-header">
        <strong>Créer un Equipe</strong>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="form-group col-6">
                <label for="raison">Date Debut</label>
                <input type="date" [(ngModel)]="equipeItem.dateDebut" class="form-control" id="dateDebut"
                    placeholder="Entrer date de debut stage">
            </div>
            <div class="form-group col-6">
                <label for="etat">Date Fin</label>
                <input type="date" [(ngModel)]="equipeItem.dateFin" class="form-control" id="dateFin"
                    placeholder="Entrer date de fin stage">
            </div>
        </div>

        <div class="row">
            <div class="form-group col-6">
                <label for="etat">Upload CV</label>
                <input type="file" [(ngModel)]="equipeItem.emCv" class="form-control" id="cv" placeholder="upload cv">
            </div>
    
    
            <div class="form-group col-6">
                <label for="etat">Date Recu Cv</label>
                <input type="date" [(ngModel)]="equipeItem.dateRecuCv" class="form-control" id="dateRecuCv"
                    placeholder="date recu cv">
            </div>
        </div>

        <div class="form-group">
            <label for="etat">note</label>
            <input type="number" [(ngModel)]="equipeItem.note" class="form-control" id="note" placeholder="note">
        </div>

        <!-- <div class="form-group">
                <label for="encadrant">Encadrant</label>
                <input type="text" [(ngModel)]="stage.encadrent" class="form-control" id="encadrant" placeholder="Entrer L'encadrant">
            </div> -->
        <div class="form-group">
            <label for="stagiaire">Stagiaire</label>
            <select name="stagiaire" id="stagiaire" [(ngModel)]="stagiaire" class="form-control" #mySelect
                (change)='onOptionsSelected(mySelect.value)'>
                <option value="">Sélectionnez...</option>
                <option *ngFor="let s of stagiaires;" [ngValue]="s">
                    {{ s.nom }} {{ s.prenom }}
                </option>
            </select>
        </div>
        <div class="card-footer">
            <button type="submit" (click)="addItem()" class="btn btn-sm btn-primary pull-right"><i class="fa fa-dot-circle-o"></i>
                Ajouter Un Equipe</button>
        </div>
    </div>
</div>
<!--/.col-->
