<div class="card-body">
    <table class="table">
        <thead>
            <tr>
                <th>Date Debut</th>
                <th>Date Fin</th>
                <th>Upload Cv</th>
                <th>Date Recu Cv</th>
                <th>Note</th>
                <th>Stagiaire</th>
                <th>status</th>
                <th>action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let e of equipeItems; let i = index">
                <td>{{ e.dateDebut }}</td>
                <td>{{ e.dateFin }}</td>
                <td>{{ e.emCv }}</td>
                <td>{{ e.dateRecuCv }}</td>
                <td>{{ e.note }}</td>
                <td>{{ e.stagiaire.nom }} {{ e.stagiaire.prenom }}</td>
                <td><span class="badge badge-success">Active</span></td>
                <td>
                    <button class="btn btn-sm btn-warning mr-2" (click)="find(i)"><i
                            class="fa fa-pencil"></i></button>
                    <button class="btn btn-sm btn-danger" (click)="delete(i)"><i class="fa fa-trash"></i></button>
                </td>
            </tr>
        </tbody>
    </table>
</div>