<div class="col-12">
    <div class="card">
        <div class="card-header">
            <i class="fa fa-align-justify"></i> Liste des Equipe Item
        </div>
        <div class="card-body">
            <table class="table">
                <thead>
                    <tr>
                        <th>Date Debut</th>
                        <th>Date Fin</th>
                        <th>Upload Cv</th>
                        <th>Date Recu Cv</th>
                        <th>Note</th>
                        <th>Date Naissance</th>
                        <th>Stagiaire</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let e of equipeitems; let i = index">
                        <td>{{ e.dateDebut }}</td>
                        <td>{{ e.dateFin }}</td>
                        <td>{{ e.emCv }}</td>
                        <td>{{ e.dateRecuCv }}</td>
                        <td>{{ e.note }}</td>
                        <td>{{ e.stagiaire }}</td>
                        <td><span class="badge badge-success">Active</span></td>
                        <td>
                            <button class="btn btn-sm btn-warning mr-2" (click)="update(e)"><i
                                    class="fa fa-pencil"></i></button>
                            <button class="btn btn-sm btn-danger" (click)="delete(e.id, i)"><i
                                    class="fa fa-trash"></i></button>
                        </td>
                    </tr>
                </tbody>
            </table>