<div class="col-12">
    <div class="card">
        <div class="card-header">
            <strong>Créer un stage</strong>
        </div>
        <div class="card-body">
            <div class="form-group">
                <label for="raison">Raison</label>
                <input type="text" [(ngModel)]="stage.raison" class="form-control" id="raison"
                    placeholder="Entrer Le raison">
            </div>
            <div class="form-group">
                <label for="etat">Etat</label>
                <input type="text" [(ngModel)]="stage.etat" class="form-control" id="etat" placeholder="Entrer L'état">
            </div>
            <!-- <div class="form-group">
                <label for="encadrant">Encadrant</label>
                <input type="text" [(ngModel)]="stage.encadrent" class="form-control" id="encadrant" placeholder="Entrer L'encadrant">
            </div> -->
            <div class="form-group">
                <label for="encadrent">Encadrant</label>
                <select name="encadrent" id="encadrent" [(ngModel)]="stage.encadrent" class="form-control" #mySelect
                    (change)='onOptionsSelected(mySelect.value)'>
                    <option value="">Sélectionnez...</option>
                    <option *ngFor="let e of employees;" [ngValue]="e">
                        {{ e.nom }} {{ e.prenom }}
                    </option>
                </select>
            </div>
            <div class="card-footer">
                <button type="submit" (click)="save()" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i>
                    Save</button>
                <button type="reset" (click)="generatorPdf('download')" class="btn btn-sm btn-danger"><i
                        class="fa fa-ban"></i> Reset</button>
            </div>
        </div>
    </div>

</div>
<!--/.col-->
<div class="col-12">
    <div class="card">
        <div class="card-header">
            <strong>Créer un Equipe</strong>
        </div>
        <div class="card-body">
            <div class="form-group">
                <label for="raison">Date Debut</label>
                <input type="date" [(ngModel)]="equipeItem.dateDebut" class="form-control" id="dateDebut"
                    placeholder="Entrer date de debut stage">
            </div>
            <div class="form-group">
                <label for="etat">Date Fin</label>
                <input type="date" [(ngModel)]="equipeItem.dateFin" class="form-control" id="dateFin"
                    placeholder="Entrer date de fin stage">
            </div>

            <div class="form-group">
                <label for="etat">Upload CV</label>
                <input type="file" [(ngModel)]="equipeItem.emCv" class="form-control" id="cv" placeholder="upload cv">
            </div>


            <div class="form-group">
                <label for="etat">Date Recu Cv</label>
                <input type="date" [(ngModel)]="equipeItem.dateRecuCv" class="form-control" id="dateRecuCv"
                    placeholder="date recu cv">
            </div>

            <div class="form-group">
                <label for="etat">note</label>
                <input type="number" [(ngModel)]="equipeItem.note" class="form-control" id="note" placeholder="note">
            </div>

            <!-- <div class="form-group">
                <label for="encadrant">Encadrant</label>
                <input type="text" [(ngModel)]="stage.encadrent" class="form-control" id="encadrant" placeholder="Entrer L'encadrant">
            </div> -->
            <div class="form-group">
                <label for="stagiaire">Stagiaire</label>
                <select name="stagiaire" id="stagiaire" [(ngModel)]="stagiaire" class="form-control" #mySelect
                    (change)='onOptionsSelected(mySelect.value)'>
                    <option value="">Sélectionnez...</option>
                    <option *ngFor="let s of stagiaires;" [ngValue]="s">
                        {{ s.nom }} {{ s.prenom }}
                    </option>
                </select>
            </div>
            <div class="card-footer">
                <button type="submit" (click)="addItem()" class="btn btn-sm btn-primary"><i
                        class="fa fa-dot-circle-o"></i>
                    Save</button>
            </div>
        </div>
    </div>
</div>
<!--/.col-->
<div class="col-12">
    <div class="card">
        <div class="card-header">
            <i class="fa fa-align-justify"></i> Liste des Equipe Item
        </div>
        <div class="card-body">
            <table class="table">
                <thead>
                    <tr>
                        <th>Date Debut</th>
                        <th>Date Fin</th>
                        <th>Upload Cv</th>
                        <th>Date Recu Cv</th>
                        <th>Note</th>
                        <th>Stagiaire</th>
                        <th>status</th>
                        <th>action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let e of equipeItems; let i = index">
                        <td>{{ e.dateDebut }}</td>
                        <td>{{ e.dateFin }}</td>
                        <td>{{ e.emCv }}</td>
                        <td>{{ e.dateRecuCv }}</td>
                        <td>{{ e.note }}</td>
                        <td>{{ stagiaire.nom }} {{ stagiaire.prenom }}</td>
                        <td><span class="badge badge-success">Active</span></td>
                        <td>
                            <button class="btn btn-success btn-xs fa fa-info" (click)="find(i)"></button>
                            <button class="btn btn-success btn-xs fa fa-trash" (click)="delete(i)"></button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>